.khan__quote {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4;
  max-width: 790px;
  padding: 50px 0 36px 0;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .khan__quote {
    font-size: 22px;
  }
}