.feinman__title {
  max-width: 648px;
  padding-bottom: 70px;
  margin: 0 auto;

  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .feinman__title {
    padding-bottom: 30px;
    font-size: 90px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .feinman__title {
    padding-bottom: 15px;
    font-size: 50px;
  }
}

@media screen and (max-width: 650px) {
  .feinman__title {
    max-width: 90%;
    font-size: 50px;
  }
}


