.video__iframe {
  flex: none;
  width: 100%;
  max-width: 515px;
  height: 316px;
  border: 0;
}

.video__iframe + .video__iframe {
  margin-left: 20px;
}

@media screen and (max-width: 1050px) {
  .video__iframe + .video__iframe {
    margin-left: 0;
    margin-top: 20px;
  }  
}