.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

@media 
screen and (max-width: 700px) and (orientation: portrait),
screen and (max-width: 800px) and (orientation: landscape) {
  .two-columns__paragraph {
    font-size: 16px;
    margin-bottom: 15px;
  }
}