.oakley {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 700px) {
  .oakley {
    padding-top: 110px;
    padding-bottom: 50px;
  }
}
