.header__block {
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-left: 64px;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .header__block {
    padding-left: 0;
    justify-content: center;
  }
}

