.two-columns {
  box-sizing: border-box;
  width: 80%;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .two-columns {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .two-columns {
    flex-direction: column;
  }
}
