
.two-columns__brief {
  max-width: 175px;
  padding-right: 20px;
  margin: 0;
  flex: none;

  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

@media screen and (max-width: 800px) {
  .two-columns__brief {
    max-width: none;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
