.header__title {
  width: 100%;
  min-width: 320px;
  max-width: 730px;
  padding: 0;
  margin: 0;
  align-self: center;
  z-index: 10;

  font-size: 102px;
  font-weight: bold;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  .header__title {
    align-self: flex-start;
    margin-top: 90px;
    font-size: 78px;
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .header__title {
    text-align: center;
    font-size: 48px;
  }
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .header__title {
    font-size: 48px;
  }
}
